.form{
  border-radius: 10px;
  padding: 15px;
  border-color: gray;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  background: lightsteelblue;
  width: 300px;
  margin: 20px;
}

input, select, button{
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: white;
  outline: none;
  border-style: solid;
  border-width: 0;
  width: 250px;
}

input{
  width: 230px;
}

button:hover{
  background-color: cornflowerblue;
  cursor: pointer;
  color: white;
}

.list{
  margin-left: 25px;
  margin-top: 25px;
}

a{
  color: black;
  text-decoration: none;
}
