<div class="list">
  <h2>Students:</h2>

  <a *ngFor="let student of students" routerLink="/{{student.id}}">
    <p>{{ student.name }} {{ student.age }} {{ student.sex }} </p>
  </a>
</div>


<div  class="form">
  <h2>Add new student:</h2>
  <div>
    <label for="name">Name</label>
    <br>
    <input required type="text" id="name" [(ngModel)]="newStudent.name" name="name">
  </div>

  <div>
    <label for="age">Age</label>
    <br>
    <input required type="number" min="0" id="age" [(ngModel)]="newStudent.age" name="age">
  </div>

  <div>
    <label for="sex">Choose</label>
    <br>
    <select class="form-control" id="sex" required  [(ngModel)]="newStudent.sex">
      <option *ngFor="let sex of sexes" [value]="sex">{{sex}}</option>
    </select>
  </div>

  <button type="submit" (click)="onSubmit()">Save student</button>

</div>
